html{
background: url("/Adatok/Lavet-logo.jpg");
background-color: turquoise;
background-size: 1800px;
}
.display-4{
    font-family:Arial, Helvetica, sans-serif ;
    color: red;
    }
    .jumbotron{
        background-color: mintcream;
          }
          .h3{
            font-family:Arial, Helvetica, sans-serif ;
            color: rgb(20, 17, 226);
          }